kanvaz-header {
  display: block;
  background-color: transparent;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
  border-bottom: 1px solid #ccc;
  height: 50px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5em 1em;
  text-align: center;
}
