<div class="left-region">
  <div class="file-drawer">
    <ul style="margin: 0;">
      <li>File 1</li>
      <li>File 2</li>
      <li>File 3</li>
    </ul>
  </div>
</div>

<div class="right-region">
  <div class="toolbar">
    <button>Toggle menu</button>
    <button>HTML</button>
    <button>JS</button>
    <button>CSS</button>
    <button>Output</button>
  </div>
  <div class="main">
    <kanvaz-panel-sequence>
      <kanvaz-panel>1</kanvaz-panel>
      <kanvaz-panel>2</kanvaz-panel>
      <kanvaz-panel>3</kanvaz-panel>
      <kanvaz-panel>4</kanvaz-panel>
    </kanvaz-panel-sequence>
  </div>
</div>

