<div class="left-region">
  <div class="file-drawer" [class]="{'file-drawer--closed': !fileDrawerOpen}">
    <h3 style="margin: 0;">Files</h3>
    <ul style="margin: 0;">
      <li *ng-for="var file of kanvaz.files"><a (click)="">{{file.name}}</a></li>
    </ul>

    <button (click)="promptNewFile()">New file</button>
  </div>
</div>

<div class="right-region">
  <div class="toolbar">
    <button (click)="toggleFileDrawer()">Toggle menu</button>
    <button (click)="sequence.togglePanel(htmlpanel)">HTML</button>
    <button (click)="sequence.togglePanel(csspanel)">CSS</button>
    <button (click)="sequence.togglePanel(jspanel)">JS</button>
    <button (click)="sequence.togglePanel(outputpanel)">Output</button>
    <button (click)="sequence.resetPanels()">Run</button>
  </div>
  <div class="main">
    <kanvaz-panel-sequence #sequence="sequence">
      <kanvaz-panel #htmlpanel="panel" [title]="'HTML (' + kanvaz.files[0].name + ')'">
        <codemirror-editor mode="html" [value]="kanvaz.files[0].content"></codemirror-editor>
      </kanvaz-panel>
      <kanvaz-panel #csspanel="panel" [title]="'CSS (' + kanvaz.files[1].name + ')'">
        <codemirror-editor mode="css" [value]="kanvaz.files[1].content"></codemirror-editor>
      </kanvaz-panel>
      <kanvaz-panel #jspanel="panel" [title]="'JavaScript (' + kanvaz.files[2].name + ')'">
        <codemirror-editor mode="javascript" [value]="kanvaz.files[2].content"></codemirror-editor>
      </kanvaz-panel>
      <kanvaz-panel #outputpanel="panel" title="Output">
      </kanvaz-panel>
    </kanvaz-panel-sequence>
  </div>
</div>

