kanvaz-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid #e6e6e6;
  padding: 0.2em;
}

.kanvaz-panel-title {
  padding: 0.5em 0.2em;
  margin-bottom: 0.2em;
  font-size: 0.9em;
  color: #aaa;
}
