:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid #e6e6e6;
  padding: 0;
  background-color: rgb(247, 247, 247);
}

:host:first-child {
  border-left: none;
}

:host.panel--focused {
  background-color: #fff;
}

:host .title {
  position: absolute;
  z-index: 2;
}

:host .CodeMirror {
  padding-top: 20px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
}
