.editor-app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

.editor-app .ace_print-margin {
  display: none;
}

.editor-header {
  background-color: #4D8799;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5em 1em;
  color: #fff;
  z-index: 5;
}

.editor-header__logo,
.editor-header__headline {
  display: inline-block;
}

.editor-header__logo {
  width: 40px;
}

.editor-header__headline {
  margin: 0;
  vertical-align: 15%;
  margin-left: 0.3em;
  font-weight: lighter;
}

.editor-content {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
}


/* panes { */
/*   display: flex; */
/*   width: 100%; */
/*   margin: 0; */
/*   height: 100%; */
/* } */

/* pane { */
/*   flex:0.33; */
/*   padding: 12px; */
/*   overflow-y: auto; */
/*   overflow-x: hide; */
/* } */
/* .pane-resizer { */
/*   width: 0; */
/*   text-align: center; */
/*   border: 1px solid #eee; */
/* } */

/* .pane-resizer:hover { */
/*   cursor: move; */
/*   border: 1px dashed #4D8799; */
/* } */


.editor-pane {
  border-right: 1px solid #EEE;
  height: 100%;
  width: 24%;
  float: left;
}

ace-editor {
  height: 100%;
  display: block;
}

iframe {
  height: 100%;
  border: 0;
}
